# Banco de Dados (Nomes exatos que seu código usa)
DB_USER=admin_db
DB_NAME=desafio_db
DB_PORT=5432
DB_HOST=postgres-db
DB_PASSWORD=senhadobanco

# Backend
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
INITIAL_ADMIN_EMAIL=admin@admin.com
INITIAL_ADMIN_PASSWORD=senhadologin
JWT_SECRET=senhadohash

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3000